<div class="col-xl-12 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-body">
      <div class="main-panel">
        <div class="container">
          <div class="col-md-12">
            <div class="container">
              <div style="text-align: center">
                <h1 style="color: #2d3091; font-family: Bablyon">
                  Immigration Documents
                </h1>
              </div>

              <form>
                <div class="col-md-6">
                  <label class="form-label">Passport Details *</label>
                  <input
                    class="form-control"
                    type="file"
                    (change)="selectImage($event)"
                    #fileUpload
                  />
                  <section [ngSwitch]="status" class="fileUpload">
                    <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
                    <p *ngSwitchCase="'success'">✅ Done!</p>
                    <p *ngSwitchCase="'fail'">❌ Error!</p>
                    <p *ngSwitchDefault>😶 Waiting to upload...</p>
                  </section>
                  <div *ngIf="status === 'success'">
                    File was Successfully uploaded
                  </div>
                </div>

                <div class="col-md-6">
                  <label class="form-label">Driving License *</label>
                  <input
                    class="form-control"
                    type="file"
                    (change)="selectImage($event)"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label">Proof of Address *</label>
                  <input
                    class="form-control"
                    type="file"
                    (change)="selectImage($event)"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label"> H1B Documents *</label>
                  <input
                    class="form-control"
                    type="file"
                    (change)="selectImage($event)"
                  />
                </div>
                <div class="col-md-6">
                  <label class="form-label"> Green Card</label>
                  <input
                    class="form-control"
                    type="file"
                    (change)="selectImage($event)"
                  />
                </div>
                <br />
                <div style="text-align: center">
                  <button class="btn btn-success" (click)="onSubmit()">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
