<!-- <div class="card" style="width: 80%">
  <div class="card-header">Skype Information</div>
  <div class="card-body">
    <h5 class="card-title">Skype Id</h5>
    <p class="card-text" *ngFor="let item of data">
      {{ item.skype }}
    </p>
    <a
      href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=21&ct=1708441228&rver=7.5.2156.0&wp=MBI_SSL&wreply=https%3A%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D360605%26redirect_uri%3Dhttps%253A%252F%252Fsecure.skype.com%252Fportal%252Flogin%253Freturn_url%253Dhttps%25253A%25252F%25252Fsecure.skype.com%25252Fportal%25252Foverview%26response_type%3Dpostgrant%26state%3Dbd7b042ef31578f13c6ab8d0&lc=1033&id=293290&mkt=en-US&psi=skype&lw=1&cobrandid=2befc4b5-19e3-46e8-8347-77317a16a5a5&client_flight=ReservedFlight33%2CReservedFlight67"
      target="_blank"
      class="btn btn-primary"
      >Go somewhere</a
    >
  </div>
</div> -->

<div class="container-fluid" style="font-family: bablyon">
  <div class="row">
    <div class="column">
      <div class="card">
        <h1>Login to Skype</h1>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
            class="centre"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Keep me Login
          </label>
        </div>
        <br />
        <div>
          <a
            class="btn btn-primary"
            href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=21&ct=1708441228&rver=7.5.2156.0&wp=MBI_SSL&wreply=https%3A%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D360605%26redirect_uri%3Dhttps%253A%252F%252Fsecure.skype.com%252Fportal%252Flogin%253Freturn_url%253Dhttps%25253A%25252F%25252Fsecure.skype.com%25252Fportal%25252Foverview%26response_type%3Dpostgrant%26state%3Dbd7b042ef31578f13c6ab8d0&lc=1033&id=293290&mkt=en-US&psi=skype&lw=1&cobrandid=2befc4b5-19e3-46e8-8347-77317a16a5a5&client_flight=ReservedFlight33%2CReservedFlight67"
            target="_blank"
            role="button"
            >Sign In</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
