<!-- <div class="card" style="width: 80%">
  <h5 class="card-header">Teams information</h5>
  <div class="card-body"> -->
<!-- <h5 class="card-title">Teams Id</h5>
    <p class="card-text" *ngFor="let item of data">
      {{ item.teams }}
    </p>
    <a
      href="https://www.microsoft.com/en-us/microsoft-teams/log-in"
      target="_blank"
      class="btn btn-primary"
      >Go somewhere</a
    > -->
<!-- <h3>Login to Teams</h3>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked">
        Keep me Login
      </label>
    </div>
    <br />
    <div>
      <a
        class="btn btn-primary"
        href="https://www.microsoft.com/en-us/microsoft-teams/log-in"
        target="_blank"
        role="button"
        >Sign In</a
      >
    </div>
  </div>
</div> -->

<div class="container-fluid" style="font-family: bablyon">
  <div class="row">
    <div class="column">
      <div class="card">
        <h1>Login to Teams</h1>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
            class="centre"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Keep me Login
          </label>
        </div>
        <br />
        <div>
          <a
            class="btn btn-primary"
            href="https://www.microsoft.com/en-us/microsoft-teams/log-in"
            target="_blank"
            role="button"
            >Sign In</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
