<!-- <h3>Click button or See below Linkedin profile.</h3> -->
<!-- <div style="font-style: bablyon">
  <h1>Login to Gmail</h1>
  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="flexCheckChecked"
      checked
    />
    <label class="form-check-label" for="flexCheckChecked">
      Keep me Login
    </label>
  </div>
  <br />
  <div>
    <a
      class="btn btn-primary"
      href="https://mail.google.com"
      target="_blank"
      role="button"
      >Sign In</a
    >
  </div>
</div> -->

<div class="container-fluid" style="font-family: bablyon">
  <div class="row">
    <div class="column">
      <div class="card">
        <h1>Login to Gmail</h1>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
            class="centre"
          />
          <label class="form-check-label" for="flexCheckChecked">
            Keep me Login
          </label>
        </div>
        <br />
        <div>
          <a
            class="btn btn-primary"
            href="https://mail.google.com"
            target="_blank"
            role="button"
            >Sign In</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
