<div class="container" style="width: fit-content">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 300px">
        <img
          class="card-img-top"
          src="https://cdn.dribbble.com/users/1136598/screenshots/5980995/media/24d8d5f4e05739aaf11f714d2566fb81.gif"
          alt="Card image"
          style="width: 100%"
        />
        <div class="card-body">
          <h4 class="card-title">{{ name.First_name }}</h4>
          <p class="card-text">
            Some example text some example text. John Doe is an architect and
            engineer
          </p>
          <a href="#" class="btn btn-primary stretched-link">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col" style="padding-left: 4cap">
      <h4>paychex-page works!</h4>
    </div>
  </div>
  <div class="row" style="padding-top: 4cap">
    <div class="col">
      <div class="card" style="width: 200px">
        <div class="card-header" style="text-align: center">Tax Documents</div>
        <div class="card-body">Content</div>
        <div class="card-footer" style="text-align: center">See details</div>
      </div>
    </div>
    <div class="col" style="width: 200px">
      <div class="card">
        <div class="card-header" style="text-align: center">Tax Documents</div>
        <div class="card-body">Content</div>
        <div class="card-footer" style="text-align: center">See details</div>
      </div>
    </div>
    <div class="col" style="width: 200px">
      <div class="card">
        <div class="card-header" style="text-align: center">Tax Documents</div>
        <div class="card-body">Content</div>
        <div class="card-footer" style="text-align: center">See details</div>
      </div>
    </div>
  </div>
</div>
