.grid-container {
  display: grid; /* Enable Grid layout */
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
}

.left-box,
.right-box {
  /* Optional: Add padding, margin, border, etc. */
  padding: 10px;
}

.left-box {
  padding: 80px;
  font-size: 35px;
}
.h1 {
  font-weight: 400;
}
