<div class="grid-container">
  <div class="left-box" id="box2">
    <h1>Automate <br />client-<br />facing <br />workflows</h1>
    <p class="IntroSection__Lead" style="font-size: 16px">
      Create a workflow, share a link, and get validated data <br />extracted
      from what your customers submit
    </p>
    <a routerLink="/signup" routerLinkActive="active bold"> Start a trial </a>
  </div>
  <div class="right-box">
    <img
      src="https://beau.to/_nuxt/img/IntroSection--illustration.fc387ec.png"
      width="444.59"
      height="575"
      loading="eager"
      class="IntroSection__Illustration"
    />
  </div>
</div>
