<div class="grid-container">
  <div class="left-box" id="box2">
    <h1>WE BUILD <br />YOUR <br />DREAM<br />CAREER</h1>
    <p class="IntroSection__Lead" style="font-size: 16px">
      Everyone has untapped potential <br />Get the most exciting jobs and grow
      your career fast with us.
    </p>
    <a routerLink="/signup" routerLinkActive="active bold"> Start a trial </a>
  </div>
  <div class="right-box">
    <img
      src="https://beau.to/_nuxt/img/IntroSection--illustration.fc387ec.png"
      width="444.59"
      height="575"
      loading="eager"
      class="IntroSection__Illustration"
    />
  </div>
</div>
