<div class="col-xl-12 order-xl-1">
  <div class="card bg-secondary shadow">
    <div class="card-header bg-white border-0">
      <div class="row align-items-center">
        <div class="col-11">
          <h3 class="mb-0">My Profile</h3>
        </div>
        <div class="col-md-1">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
          >
            Edit
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="main-panel">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <p
                  class="card-title font-weight-bold"
                  style="
                    text-align: center;
                    font-size: xx-large;
                    padding-top: 20px;
                    padding-bottom: 30px;
                  "
                >
                  <b>Personal Information</b>
                </p>
                <div class="container">
                  <div class="row">
                    <table class="table success">
                      <thead>
                        <tr>
                          <th>Full Name</th>
                          <td>
                            {{ data ? data.First_name : " " }}
                            {{ data ? data.Last_name : " " }}
                          </td>
                        </tr>

                        <tr>
                          <th class="info">Email</th>
                          <td>{{ data ? data.Email : " " }}</td>
                        </tr>
                        <tr>
                          <th class="info">Contact</th>
                          <td>{{ data ? data.Contact : " " }}</td>
                        </tr>
                        <tr>
                          <th class="info">Date of Birth</th>
                          <td>{{ data ? data.DOB : " " }}</td>
                        </tr>
                        <tr>
                          <th class="info">Visa Status</th>
                          <td>{{ data ? data.Visa_status : " " }}</td>
                        </tr>
                        <tr>
                          <th class="info">Employment Status</th>
                          <td>{{ data ? data.emp_status : " " }}</td>
                        </tr>
                        <tr>
                          <th class="info">Role</th>
                          <td>{{ data ? data.Role : " " }}</td>
                        </tr>
                        <tr>
                          <th class="info">Address</th>
                          <td>{{ data ? data.Address : " " }}</td>
                        </tr>
                        <tr>
                          <th class="info">City</th>
                          <td>{{ data ? data.City : " " }}</td>
                        </tr>

                        <tr>
                          <th class="info">State</th>
                          <td>{{ data ? data.State : " " }}</td>
                        </tr>

                        <tr>
                          <th class="info">SSA</th>
                          <td>{{ data ? data.SSN : " " }}</td>
                        </tr>

                        <tr>
                          <th class="info">Date of Hire</th>
                          <td>{{ data ? data.DOH : " " }}</td>
                        </tr>

                        <tr>
                          <th class="info">Register Date</th>
                          <td>{{ today | date : "fullDate" }}</td>
                        </tr>

                        <td>
                          <div class="modal" id="myModal">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">
                                    Personal Information
                                  </h4>
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                  ></button>
                                </div>

                                <div class="modal-body">
                                  <form
                                    class="row g-3 needs-validation"
                                    novalidate
                                  >
                                    <div class="col-md-4">
                                      <label
                                        for="validationCustom01"
                                        class="form-label"
                                        >First name</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        [(ngModel)]="newEmployee.First_name"
                                        id="First_name"
                                        name="First_name"
                                        value="{{ data.First_name }}"
                                        required
                                      />
                                    </div>
                                    <div class="col-md-4">
                                      <label
                                        for="validationCustom02"
                                        class="form-label"
                                        >Last name</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="Last_name"
                                        name="Last_name"
                                        [(ngModel)]="newEmployee.Last_name"
                                        value="{{ data.Last_name }}"
                                        required
                                      />
                                    </div>
                                    <div class="col-md-4">
                                      <label class="form-label">Username</label>
                                      <div class="input-group">
                                        <input
                                          type=" text"
                                          readonly
                                          [(ngModel)]="newEmployee.Email"
                                          value="{{ data.Email }}"
                                          class="form-control"
                                          id="Email"
                                          name="Email"
                                          aria-describedby="inputGroupPrepend"
                                          [disabled]="true"
                                          required
                                        />
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <label
                                        for="validationCustom05"
                                        class="form-label"
                                        >Contact</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        [(ngModel)]="newEmployee.Contact"
                                        value="{{ data.Contact }}"
                                        name="Contact"
                                        id="Contact"
                                        required
                                      />
                                    </div>
                                    <div class="col-md-3">
                                      <label
                                        for="validationCustom05"
                                        class="form-label"
                                        >Availability Status</label
                                      >
                                      <select
                                        class="form-select"
                                        id="Visa_status"
                                        name="Visa_status"
                                        [(ngModel)]="newEmployee.Visa_status"
                                        value="{{ data.Visa_status }}"
                                        required
                                      >
                                        <option>Citizen</option>
                                        <option>CPT-F1</option>
                                        <option>GC</option>
                                        <option>H1B</option>
                                        <option>H1B-applied</option>
                                        <option>H1B-approved</option>
                                        <option>H1B Under Admin</option>
                                        <option>H1-EAD</option>
                                        <option>H4</option>
                                        <option>L1</option>
                                        <option>L2-EAD</option>
                                        <option>OPT-F1</option>
                                        <option>Unknown</option>
                                      </select>
                                    </div>
                                    <div class="col-md-3">
                                      <label
                                        for="validationCustom05"
                                        class="form-label"
                                        >Visa Status</label
                                      >
                                      <select
                                        class="form-select"
                                        id="emp_status"
                                        name="emp_status"
                                        [(ngModel)]="newEmployee.emp_status"
                                        value="{{ data.emp_status }}"
                                        required
                                      >
                                        <option>Active-Contractor</option>
                                        <option>Active-Employee</option>
                                        <option>Bench</option>
                                        <option>On-File</option>
                                        <option>Recruit</option>
                                        <option>TBD</option>
                                        <option>Terminated</option>
                                        <option>Third Party</option>
                                        <option>Training/Intern</option>
                                      </select>
                                    </div>
                                    <div class="col-md-4">
                                      <label
                                        for="validationCustom05"
                                        class="form-label"
                                        >Social Security Number(SSN)</label
                                      >
                                      <input
                                        type="password"
                                        class="form-control"
                                        [(ngModel)]="newEmployee.SSN"
                                        value="{{ data.SSN }}"
                                        id="SSN"
                                        name="SSN"
                                        required
                                      />
                                    </div>
                                    <div class="col-md-3">
                                      <label
                                        for="validationCustom05"
                                        class="form-label"
                                        >Date Of Birth</label
                                      >
                                      <input
                                        type="date"
                                        class="form-control"
                                        [(ngModel)]="newEmployee.DOB"
                                        value="{{ data.DOB }}"
                                        id="DOB"
                                        name="DOB"
                                        required
                                      />
                                    </div>
                                    <div class="col-md-3">
                                      <label
                                        for="validationCustom05"
                                        class="form-label"
                                        >Date Of Hire</label
                                      >
                                      <input
                                        type="date"
                                        class="form-control"
                                        [(ngModel)]="newEmployee.DOH"
                                        value="{{ data.DOH }}"
                                        id="DOH"
                                        name="DOH"
                                        required
                                      />
                                    </div>
                                    <div class="col-md-12">
                                      <label
                                        for="validationCustom03"
                                        class="form-label"
                                        >Address</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        [(ngModel)]="newEmployee.Address"
                                        value="{{ data.Address }}"
                                        name="Address"
                                        id="Address"
                                        required
                                      />
                                    </div>
                                    <div class="col-md-3">
                                      <label for="state" class="form-label"
                                        >State</label
                                      >
                                      <select
                                        class="form-select"
                                        [(ngModel)]="newEmployee.State"
                                        value="{{ data.State }}"
                                        name="State"
                                        id="State"
                                      >
                                        <option
                                          *ngFor="let state of states"
                                          [value]="state.name"
                                        >
                                          {{ state.name }} -
                                          {{ state.abbreviation }}
                                        </option>
                                      </select>
                                    </div>
                                    <div class="col-md-6">
                                      <label for="city" class="form-label"
                                        >City</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        [(ngModel)]="newEmployee.City"
                                        value="{{ data.City }}"
                                        name="City"
                                      />
                                    </div>
                                    <div class="col-md-3">
                                      <label for="zip" class="form-label"
                                        >Zip</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        [(ngModel)]="newEmployee.Zip"
                                        value="{{ data.Zip }}"
                                        name="Zip"
                                      />
                                    </div>
                                  </form>
                                </div>

                                <div class="modal-footer">
                                  <button
                                    class="btn btn-primary"
                                    type="submit"
                                    (click)="addEmployee()"
                                    data-bs-dismiss="modal"
                                  >
                                    Save Changes
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-danger"
                                    data-bs-dismiss="modal"
                                  >
                                    Close
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
