<section id="what-we-do">
  <div class="container-fluid">
    <div class="row">
      <div class="center">
        <a
          style="color: #0079c9"
          class="btn btn-link btn-social-icon"
          href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=21&ct=1708441228&rver=7.5.2156.0&wp=MBI_SSL&wreply=https%3A%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D360605%26redirect_uri%3Dhttps%253A%252F%252Fsecure.skype.com%252Fportal%252Flogin%253Freturn_url%253Dhttps%25253A%25252F%25252Fsecure.skype.com%25252Fportal%25252Foverview%26response_type%3Dpostgrant%26state%3Dbd7b042ef31578f13c6ab8d0&lc=1033&id=293290&mkt=en-US&psi=skype&lw=1&cobrandid=2befc4b5-19e3-46e8-8347-77317a16a5a5&client_flight=ReservedFlight33%2CReservedFlight67"
          target="_blank"
          data-toggle="tooltip"
          title="Skype"
          ><i class="fa fa-skype fa-2x"></i
        ></a>
        <a
          class="btn btn-link btn-social-icon"
          href="https://www.office.com/"
          target="_blank"
          data-toggle="tooltip"
          title="Office 365"
          ><img height="32px" width="52px" src="../../assets/365.png"
        /></a>

        <a
          class="btn btn-social-icon btn-link"
          data-toggle="tooltip"
          title="Github"
          href="https://github.com/login"
          target="_blank"
          ><img height="32px" width="52px" src="../../assets/github.png"
        /></a>

        <a
          class="btn btn-social-icon btn-link"
          data-toggle="tooltip"
          title="Linkedln"
          href="https://www.linkedin.com/home"
          target="_blank"
          ><img height="32px" width="52px" src="../../assets/Linkedln.png"
        /></a>
        <a
          class="btn btn-social-icon btn-link"
          data-toggle="tooltip"
          title="Google"
          href="https://mail.google.com"
          target="_blank"
          ><img height="32px" width="52px" src="../../assets/google.png"
        /></a>
        <a
          class="btn btn-social-icon btn-link"
          data-toggle="tooltip"
          title="twitter"
          href="https://twitter.com/"
          target="_blank"
          ><img height="32px" width="52px" src="../../assets/twitter.png"
        /></a>
      </div>
    </div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4"
        *ngIf="data2 && data2.includes('Paychex')"
      >
        <div class="card">
          <div class="card-block block-1">
            <h3 class="card-title">Paychex</h3>
            <p class="card-text">
              Provides organizations comprehensive HR, payroll, and benefits
              solutions
            </p>
            <a routerLink="/paychex" class="read-more"
              >More Details<i class="fa fa-angle-double-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4"
        *ngIf="data2 && data2.includes('Immigration_Documents')"
      >
        <div class="card">
          <div class="card-block block-2">
            <h3 class="card-title">Immigration Documents</h3>
            <p class="card-text">
              Immigration Documents about employee typically includes sensitive
              data.
            </p>
            <a routerLink="/immigration" title="Read more" class="read-more"
              >More Details<i class="fa fa-angle-double-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4"
        *ngIf="data2 && data2.includes('Skills_matrix')"
      >
        <div class="card">
          <div class="card-block block-3">
            <h3 class="card-title">Skills matrix</h3>
            <p class="card-text">
              Skill matrix provides valuable insights into the capabilities of
              employees.
            </p>
            <a routerLink="/skill" title="Read more" class="read-more"
              >More details<i class="fa fa-angle-double-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4"
        *ngIf="data2 && data2.includes('Feed')"
      >
        <div class="card">
          <div class="card-block block-5">
            <h3 class="card-title">Feed</h3>
            <p class="card-text">
              Display updates, announcements, and relevant information
            </p>
            <a routerLink="/feed" title="Read more" class="read-more"
              >More details<i class="fa fa-angle-double-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4"
        *ngIf="data2 && data2.includes('Employee')"
      >
        <div class="card">
          <div class="card-block block-6">
            <h3 class="card-title">Employee</h3>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a routerLink="/employees" title="Read more" class="read-more"
              >More details<i class="fa fa-angle-double-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4"
        *ngIf="data2 && data2.includes('Admin')"
      >
        <div class="card">
          <div class="card-block block-2">
            <h3 class="card-title">Admin</h3>
            <p class="card-text">
              Admin about employee typically includes sensitive data.
            </p>
            <a routerLink="/skillmatrix" title="Read more" class="read-more"
              >More Details<i class="fa fa-angle-double-right ml-2"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
