<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="box">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-skype fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Skype</h4>
          </div>

          <div class="text">
            <span
              >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
              decore te sed. Elitr scripta ocurreret qui ad.</span
            >
          </div>

          <a
            href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=21&ct=1708441228&rver=7.5.2156.0&wp=MBI_SSL&wreply=https%3A%2F%2Flw.skype.com%2Flogin%2Foauth%2Fproxy%3Fclient_id%3D360605%26redirect_uri%3Dhttps%253A%252F%252Fsecure.skype.com%252Fportal%252Flogin%253Freturn_url%253Dhttps%25253A%25252F%25252Fsecure.skype.com%25252Fportal%25252Foverview%26response_type%3Dpostgrant%26state%3Dbd7b042ef31578f13c6ab8d0&lc=1033&id=293290&mkt=en-US&psi=skype&lw=1&cobrandid=2befc4b5-19e3-46e8-8347-77317a16a5a5&client_flight=ReservedFlight33%2CReservedFlight67"
            target="_blank"
            >Sign In</a
          >
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
          <img href="" />
          <div class="title">
            <h4>Twitter</h4>
          </div>

          <div class="text">
            <span
              >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
              decore te sed. Elitr scripta ocurreret qui ad.</span
            >
          </div>

          <a href="https://twitter.com/" target="_blank">Sign In</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Linkedin</h4>
          </div>

          <div class="text">
            <span
              >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
              decore te sed. Elitr scripta ocurreret qui ad.</span
            >
          </div>

          <a href="https://www.linkedin.com/home" target="_blank">Sign In</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="bi bi-microsoft-teams" aria-hidden="true"></i>

          <div class="title">
            <h4>Microsoft</h4>
          </div>

          <div class="text">
            <span
              >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
              decore te sed. Elitr scripta ocurreret qui ad.</span
            >
          </div>

          <a href="https://www.office.com/" target="_blank">Sign In</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-google fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Google</h4>
          </div>

          <div class="text">
            <span
              >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
              decore te sed. Elitr scripta ocurreret qui ad.</span
            >
          </div>

          <a href="https://mail.google.com" target="_blank">Sign In</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="box-part text-center">
          <i class="fa fa-github fa-3x" aria-hidden="true"></i>

          <div class="title">
            <h4>Github</h4>
          </div>

          <div class="text">
            <span
              >Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum
              decore te sed. Elitr scripta ocurreret qui ad.</span
            >
          </div>

          <a href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
