<div class="col-sm-6" style="text-align: center">
  <h1 style="color: #2d3091; font-family: Bablyon">Admin Service's</h1>
  <select class="form-control" [(ngModel)]="selectedFilter">
    <option [value]="undefined" selected>-- Choose and option --</option>
    <option *ngFor="let type of filterTypes" [value]="type.value">
      {{ type.display }}
    </option>
  </select>
</div>
<hr />

<div [hidden]="selectedFilter !== 'terminated'">
  <div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-body">
        <div class="main-panel">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div style="text-align: center">
                    <h1 style="color: #2d3091; font-family: Bablyon">
                      Skill Matrix
                    </h1>
                  </div>
                  <div class="row g-3" style="padding-left: 200px">
                    <div class="col-md">
                      <div class="form-floating">
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="newEmployee.skill_name"
                          id="skill_name"
                          name="skill_name"
                        />

                        <label for="floatingInputGrid">Skill Name</label>
                      </div>
                    </div>

                    <div class="col-md">
                      <div class="form-floating">
                        <input
                          type="text"
                          class="form-control"
                          [(ngModel)]="newEmployee.description"
                          id="description"
                          name="description"
                        />
                        <label for="floatingInputGrid">description</label>
                      </div>
                    </div>

                    <div class="col-md">
                      <button
                        type="button"
                        class="btn btn-success"
                        (click)="addEmployee()"
                      >
                        Add
                      </button>
                    </div>
                  </div>
                  <br />
                  <div class="table-container">
                    <table
                      mat-table
                      [dataSource]="dataSource"
                      class="mat-elevation-z8"
                    >
                      <ng-container matColumnDef="id">
                        <th
                          mat-header-cell
                          class="custom-header"
                          *matHeaderCellDef
                        >
                          Employee_Id
                        </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                          {{ element.id }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="skill_name">
                        <th
                          mat-header-cell
                          class="custom-header"
                          *matHeaderCellDef
                        >
                          Name
                        </th>
                        <td mat-cell *matCellDef="let element" matSort>
                          {{ element.skill_name }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="description">
                        <th
                          mat-header-cell
                          class="custom-header"
                          *matHeaderCellDef
                        >
                          Role
                        </th>
                        <td mat-cell *matCellDef="let element">
                          {{ element.description }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th
                          mat-header-cell
                          class="custom-header"
                          *matHeaderCellDef
                        >
                          Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                          <button
                            mat-raised-button
                            color="warn"
                            (click)="deleteRecord(element)"
                          >
                            Delete
                          </button>
                        </td>
                      </ng-container>

                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></tr>
                    </table>
                    <mat-paginator
                      [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons
                      aria-label="Select page of periodic elements"
                      [length]="dataSource?.data.length"
                    >
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="selectedFilter !== 'release'">
  <div class="col-xl-12 order-xl-1">
    <div class="card bg-secondary shadow">
      <div class="card-body">
        <div class="main-panel">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h1 class="menu-management-title">Menu Management</h1>
                  <ng-template #noroles>
                    <p class="alert alert-danger text-center">
                      {{ errorMessage }}
                    </p>
                  </ng-template>
                  <div *ngIf="roles.length > 0; else noroles">
                    <div class="roles-container">
                      <ul *ngFor="let data of roles" class="role-list">
                        <li>
                          <mat-checkbox
                            [checked]="areAllMenusSelected(data)"
                            [indeterminate]="isIndeterminate(data)"
                            (change)="toggleAllMenus(data, $event)"
                            >{{ data.role_name }}</mat-checkbox
                          >
                          <ul class="menu-list">
                            <li *ngFor="let data1 of menus">
                              <mat-checkbox
                                [checked]="
                                  isMenuAssigned(
                                    data.role_name,
                                    data1.menu_name
                                  )
                                "
                                (change)="
                                  onChange(
                                    data1.menu_name + ' ' + data.role_name,
                                    $event
                                  )
                                "
                                [value]="data1.menu_name + ' ' + data.role_name"
                              >
                                {{ data1.menu_name }}
                              </mat-checkbox>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="text-center mt-3">
                      <button
                        mat-raised-button
                        color="primary"
                        (click)="displayData()"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
